@charset "utf-8";
.user_login {float:left;background: url("../images/login/bg_login.gif") no-repeat left top; width:810px; height:160px;}
.user_login .user_login_ultop {
    float: left;
    margin: 0;
    padding: 40px 0 28px 20px;
    width: 370px;
}
.user_login .user_login_ultop ul {
    float: left;
    margin: 0;
    padding: 3px 0 0;
    width: 270px;
}
.user_login .user_login_ultop ul li {
	float: right;
    margin: 0;
    padding: 0 0 2px;
}
.user_login .user_login_ultop ul li img {
    vertical-align: middle;
}
.user_login .user_login_ultop ul li input {
    vertical-align: middle;
}
.user_login .user_login_ultop ul li .input_style {
    border: 2px solid #0958A5;
    height: 17px;
    margin: 0 0 0 9px;
    padding: 2px 0 0 2px;
    width: 176px;
}
.user_login .user_login_ultop .btn_style {
    float: left;
    height: 51px;
    margin-left:5px; margin-top:1px;
    width: 62px;
}


.user_login .user_login_btstyle {
    float: left;
    margin: 0;
    position: relative;
    top: -15px;
    left:96px;
    width: 754px;
}
.user_login .user_login_btstyle .bt_ulstyle1 {
    float: left;
    width: 75px;
}
.user_login .user_login_btstyle .bt_ulstyle1 li {
    background: url("../../images/member/bul_arrow.gif") no-repeat scroll 0 5px transparent;
    color: #727475;
    margin: 0 0 7px;
    padding: 0 0 0 11px;
}
.user_login .user_login_btstyle .bt_ulstyle2 {
    float: left;
    width: 119px;
}
.user_login .user_login_btstyle .bt_ulstyle2 li {
    margin: 0 0 7px;
}
.user_login .user_login_btstyle .bt_ulstyle2 li img {
    vertical-align: middle;
}

.text_area{float:left;padding-top:30px;}
.text_area ul{list-style-type:none;}
.text_area ul li{width:350px;display:block; background: url("../images/bl_dot.gif") no-repeat 0px 8px;padding-left:10px;} 
