<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>[%-5level] %d{HH:mm:ss.SSS} - %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="WARN"/>
	<logger name="org.hibernate" level="WARN"/>

	<logger name="com.p6spy" level="OFF"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
